@import "themify";
@import "header";
@import "footer";

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  grid-template-columns: none;

  > * {
    grid-column: auto;
  }
}

main {
  padding: 1.5rem 1rem;
}
