@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Bellingham Chess Club</h1>

<p>Here you'll find information about local chess events, the chess ladder, and how to connect with other players in the community.</p>
